.banner {
  max-height: 69vh;
  padding-top: 4rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  background: url("https://img.freepik.com/premium-vector/avatar-supermarket-worker-cash-register-customer-with-supermarket-car-full-groceries_18591-62160.jpg?w=996");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content {
  text-align: center;
  width: 50rem;
  margin-left: 600px;
}
.banner .content h3 {
  font-size: 3rem;
  color: #047979;
}

.banner .content p {
  margin-bottom: 9rem;
  padding: 2rem 0;
  font-size: 1.6rem;
  color: #464646;
}
