.item {
  box-shadow: 0 0 3px rgba(110, 110, 110, 0.781);
  padding: 15px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.item:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
.item .name {
  color: #070100;
  font-size: 20px;
}
.item .price {
  color: rgba(0, 0, 0, 0.699);
  font-size: 20px;
}

.item button {
  margin-top: 10px;
  color: white !important;
}
