.checkout-summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
text-align: center;


}

.total {
  line-height: 2rem;
}
.checkout-summary label {
  font-weight: bold;
  font-size: 1.3rem;
}

.checkout-summary span {
  margin-left: auto;
  font-weight: 600;
  font-size: 1.3rem;
}

.checkout-summary h3 {
  color: #32cd32;
}
.input {
  font-size: 20px;
}
.actions {
  align-items: left;
  display: flex;
  gap: 10px;
  
}
.cancel {
  background-color: red;
}
