.checkout-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  max-height: 1rem;
}
.container {
  display: flex;
  justify-content: space-between;
}
.total {
  line-height: 2rem;
}
.checkout-summary label {
  font-weight: bold;
  font-size: 1rem;
}

.checkout-summary span {
  margin-left: auto;
  font-weight: 600;
}

.checkout-summary h4 {
  color: #32cd32;
}
