.home {
  display: flex;
  height: 80vh;
  background-color: #a1a1a1;
}

.POS {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  overflow: scroll;
}

.Checkout {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
}
