.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
  font-weight: 500;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 1000; /* set font weight to normal or regular */
}

.button {
  background-color: #001529;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-end; 
}

.button:hover {
  background-color: #047979;
}

.button:active {
  background-color: #047979;
  transform: translateY(1px);
}
